snippet /argparse "Argument to start a python script with argument parser" bA
#!/usr/bin/env python
"""
	Script
"""
from argparse import ArgumentParser

if __name__ == "__main__":
	parser = ArgumentParser()
	parser.add_argument("ARG")
	args = parser.parse_args()

endsnippet
