[submodule "pack/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/start/vim-kalisi"]
	path = pack/plugins/start/vim-kalisi
	url = https://github.com/freeo/vim-kalisi
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = release
[submodule "pack/plugins/start/vim-opencl"]
	path = pack/plugins/start/vim-opencl
	url = git://github.com/petRUShka/vim-opencl.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
